
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Right -->
  </section>
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            CHANTHIRAN DAIRY FARM & COW MERGENT
          </h6>
          <p>
            We Supply hf
            cow and jersey cow in Tamilnadu , Kerala. We introduce ourselves as CHANTHIRAN DAIRY FARM
            expert supplier & exporter of Dairy Animals.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <a class="nav-link mx-2 active" [routerLink]="['/home']">Home</a>
          <a class="nav-link mx-2 active" [routerLink]="['/about']">About</a>
          <a class="nav-link mx-2 active" [routerLink]="['/product']">Available</a>
          <a class="nav-link mx-2 active" [routerLink]="['/contact']">Contact</a>
      
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>Avudayanoor-627 808,Tenkasi-District,
            TamilNadu,india</p>
          <p>
            abishekcp11@gmail.com
          </p>
          <p>9486666928</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <div style="display: flex; justify-content: center;">
    <ul class="social-icons">
      <li><a href="tel:+91 9486666928"><i class="bi bi-telephone"></i></a></li>
      <li><a href="mailto:abishekcp11@gmail.com"><i class="bi bi-envelope"></i></a></li>
      <li><a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a></li>
      <li><a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a></li>
    </ul>
  </div>
  
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <p>&copy; 2024 <strong>Chanthiran Dairy Farm.</strong> All rights reserved.</p>

  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->