
/* Add this CSS to your stylesheet */
.nav-link {
  color: #333; /* Default color for the links */
  font-size: 16px; /* Default font size for the links */
  transition: color 0.3s ease, font-size 0.3s ease; /* Add a smooth transition effect for color and font size changes */
}

.nav-link:hover {
  color: #f00; /* Change the color to red (or any other color of your choice) on hover */
  font-size: 18px; /* Change the font size on hover */
}

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
  }

  .social-icons li {
    margin-right: 15px;
  }

  .social-icons a {
    color: #0c0c0c; 
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .social-icons a:hover {
    color: #bdffe2; 
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }

    .footer-col {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }
  }