<!-- <footer class="footer">
  <div class="footer-container">
    <span class="hlo">
      <a href="tel:+91 9486666928">
        <i class="bi bi-telephone"></i>
      </a>
      <a href="mailto:abishekcp11@gmail.com">
        <i class="bi bi-envelope"></i>
      </a>
      <a href="https://www.instagram.com">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.youtube.com">
        <i class="bi bi-youtube"></i>
      </a>
    </span>

      <span class="box">
        <h5>CHANTHIRAN DAIRY FARM & COW MERCHANT</h5>
        <h6>Avudayanoor-627 808,Tenkasi-District,
          TamilNadu,india.</h6>
        <h6>Phone no/What's app no:+91 9486666928.</h6>
        <h6> Gmail:@gmail.com</h6>
      </span>
  
    
    <span class="footerBottom">
      <p>Copyright &copy;2023; Designed by <span class="designer">Akila</span></p>
    </span>
  </div>
</footer>
 -->
 <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Your footer content -->
          <h4>About Us</h4>
          <p  routerLink="/home" ><img src="./assets/images/ice cow.jpg " style="width: 50px; height: 40px; border-radius:30px;" > CHANTHIRAN DAIRY FARM & COW MERGENT</p>
          <p>Expert Supplier &
            Exporter of Dairy Animals</p>
        </div>
        <div class="col-md-6">
          <!-- Contact information -->
          <h4>Contact Us</h4>
          <p>Email:abishekcp11@gmail.com</p>
          <p>Phone:9486666928</p>
        </div>
		<div>
			<footer>
			  <p>&copy; 2023 <strong>Chanthiran Dairy Farm.</strong> All rights reserved.</p>
			</footer>
			</div>
      <div class="row">
        <ul class="pooja">
          <li class="aki">
            <a href="tel:+91 9486666928">
              <i class="bi bi-telephone"></i></a>
          </li>
          
          <li class="aki">
            <a href="mailto:abishekcp11@gmail.com">
              <i class="bi bi-envelope"></i></a>
          </li>
          
          <li class="aki">
            <a href="https://www.instagram.com">
              <i class="bi bi-instagram"></i></a>
          </li>
          
          <li class="aki">
            <a href="https://www.youtube.com">
              <i class="bi bi-youtube"></i></a>
          </li>
          
        </ul>
      </div>
      
			
      </div>
    </div>
  </footer>
  