/* footer{
    
    height: 10px;
}
.footer-container{
background-color: black;
width: 100%;
padding: 70px 30px 20px;
}
.hlo{
    display: flex;
   }
.hlo a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.hlo a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.hlo a:hover{
    background-color: black;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
    
}
.footerBottom {
    background-color: black;
    padding: 20px;

}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.box{
    color: white;
    float: right;
    padding-top: 10px;
}
@media(max-width:700px){
    .footerNav ul{
        flex-direction: column;
    }
} */
.footer {
    background-color: #010a0e;
    color: #161515;
    padding: 30px 0;
}

.footer h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    color: white;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pooja {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;

}

.pooja li {
    list-style: none;

}

.pooja li a {
    text-decoration: none;
    color: rgb(254, 248, 248);
    font-size: 0.7em;
    transition: 0.3s;
}

.pooja li a:hover {
    color: rgb(241, 237, 241);
}

.pooja a i {
    font-size: 2em;
    color: rgb(254, 253, 253);
    opacity: 0.9;
}

.aki {
    text-decoration: none;
}