<!-- <h1>Register Form</h1>
<div class="container" style=background-color:pink>
<form [formGroup]="akila" (ngSubmit)="(this.akila.value)"novalidate>
 <p>  
    <label for="username">Username</label>
    <input type="text"  name="username" formControlName="username">
  </p>

<p>
    <label for="password">password</label>
    <input type="password"  name="password" formControlName="password">
</p>


<p>
    <label for="email">email</label>
    <input type="text"  name="email" formControlName="email">
</p>

<p>
    <label for="phone">phone</label>
    <input type="text"  name="phone" formControlName="phone">
</p>
<p>
    <label for="state">state</label>
    <input type="text"  name="state" formControlName="state">
</p>

<p>
    <button type="submit" class="btn btn-success" (click)="postdata()" [disabled]="this.akila.invalid">Submit</button>
</p>
</form> 
</div> -->



<div class="container">
    <h1 class="text-center">Quote Request</h1>
    <form [formGroup]="quoteForm" (ngSubmit)="postdata()">
        <div class="row">
            <div class="col-md-6">
                <!-- From Place -->
                <div class="form-group">
                    <label for="fromPlace">From Place:</label>
                    <input type="text" id="fromPlace" class="form-control" formControlName="fromPlace">
                </div>

                <!-- To Place -->
                <div class="form-group">
                    <label for="toPlace">To Place:</label>
                    <input type="text" id="toPlace" class="form-control" formControlName="toPlace">
                </div>

                <!-- Mobile No -->
                <div class="form-group">
                    <label for="mobileNo">Mobile No:</label>
                    <input type="text" id="mobileNo" class="form-control" formControlName="mobileNo">
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-warning">Submit Quote</button>
                </div>

                
            </div>
        </div>
    </form>
</div>
<button (click)="getData()">hello</button>