<!-- <div id="about">
    <h6 class="display-6">ABOUT US:</h6>
</div> -->

<br>
<div class="container">
    <div class="cart" style="background-color: rgb(238, 243, 197);" >
        <h4 style="text-align: center;">About Our CHANTHIRAN CATTLE TRADE</h4>

<p>
    CHANTHIRAN CATTLE TRADE & DAIRY FARM.Chanthiran Cattle Trade & Dairy Farm, Avudayanoor-627 808, Tenkasi-District,
    TamilNadu, India. Phone no/WhatsApp no: +91 9486666928. We supply cows in Kerala, Puthukodai, and the nearest
    area. We are into the trade since <b>1989</b>. We introduce ourselves as CHANTHIRAN CATTLE TRADE & DAIRY FARM expert supplier &
    exporter of Dairy Animals. We majorly deal in Holstein Friesian crossbreed and Jersey crossbreed cows and also
    Heifers and produce some very high-quality cows in crossbreed. Our cows have been known for their record yields.
    Chanthiran Cattle Trade has given valuable support in the development of some major dairy farms. Our quality brands
    have built faith and confidence in our customers across India for our best quality products and on-time services.
    We are friendly.
</p>

<div class="flex">
    <img src="./assets/images/coo.jpg" class="rounded" alt="cow">
</div>


<div>
    <p>Chanthiran Cattle Trade specializes in supplying Holstein Friesian (HF) cows and Jersey cows across Tamil Nadu and
        Kerala. We take pride in offering a diverse range of cattle that are well-suited to local conditions and known
        for their productivity.</p>
</div>
</div>
</div>