.navbar-logo {
    width: 70%;
    height: auto;
    border-radius: 50%;

}

a {
    text-decoration: none;
}

hello {
    display: flex;
    justify-content: center;
}

hai {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    height: 450px;
    object-fit: cover;
}

a{
    color: rgb(15, 12, 12);
}

/* footer updates */
footer{
    position: fixed;
    top: 500px;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.footer-container{
background-color: black;
width: 100%;
padding: 70px 30px 20px;
}
.hlo{
    display: flex;
   }
.hlo a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.hlo a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.hlo a:hover{
    background-color: black;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
    
}
.footerBottom {
    background-color: black;
    padding: 20px;

}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.box{
    color: white;
    float: right;
    padding-top: 10px;
}
@media(max-width:700px){
    .footerNav ul{
        flex-direction: column;
    }
}




.custom-text {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  .custom-text img {
    width: 130px;
    border-radius: 50%;
  }

  .custom-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }

  #neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  }









  