<div class="container mt-4">
    <div id="car" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#car" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#car" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#car" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/co.jpg" alt="pic" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="./assets/images/cows-2.jpg" alt="pic" class="d-block w-100">
                <!-- <div class="carousel-caption">
                    <h2 style="font-family: monospace;"> CHANTHIRAN CATTLE TRADE & DAIRY FARM.</h2>
                    <p style="font-family: monospace;">𝐵𝓊𝓎 𝒶𝓃𝒹 𝓈𝑒𝓁𝓁 𝒞𝒶𝓉𝓉𝓁𝑒𝓈</p>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="./assets/images/j32-4.jpg" alt="pic" class="d-block w-100">
                <!-- <div class="carousel-caption">
                    <h2 style="font-family: monospace;">𝒜𝓋𝒶𝒾𝓁𝒶𝒷𝓁𝑒 𝒞𝒶𝓉𝓉𝓁𝑒𝓈: 𝒥𝑒𝓇𝓈𝑒𝓎 &
                        𝐻𝑒𝓁𝓈𝓉𝑒𝒾𝓃 𝒻𝓇𝒾𝑒𝓈𝒾𝒶𝓃
                    </h2>
                    <p style="font-family: monospace;"><a href="tel:+91 9486666928">9486666928</a></p>
                </div> -->
            </div>
        </div>
        <button type="button" class="carousel-control-prev" data-bs-target="#car" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button type="button" class="carousel-control-next" data-bs-target="#car" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    
    <div class="container mt-4 " style="background-color: rgb(238, 243, 197)">
        <div id="introduction">
            <h4 style="text-align: center;"> CHANTHIRAN CATTLE TRADE & DAIRY FARM</h4>
            <p> About Chanthiran Cattle Trade CHANTHIRAN CATTLE TRADE,
                tenkasi-District, Tamilnadu, India.Phone No / whats app no +91 9486666928.We Supply hf
                cow and jersey cow in Tamilnadu , Kerala. We introduce ourselves as CHANTHIRAN CATTLE TRADE & DAIRY FARM
                expert supplier & exporter of Dairy Animals.Our origin of Cow is well accepted for its
                brilliant diversity and adaptability across the markets of the India.</p>
        </div>
        <div>
            <img src="./assets/images/appaa.jpg" alt="Chanthiran Dairy Farm" class="farm-image">
            <p style="text-align: center;">trader N.Chanthiran<br>
                +91 9486666928<br>
                Avudayanoor-627 808, Tenkasi-District,
                TamilNadu,India.<br>
        </div>
    </div>
    <app-about></app-about>
    <br>
    <h4 style="text-align: center;background-color: rgb(238, 243, 197)" >CONTACT US</h4>
    <app-contact></app-contact>