<ng-container *ngIf="product.length !=0">
    <div class="container">
        <div class="cart-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Cow Name</th>
                            <th>Cow Image</th>
                            <th>Milk</th>
                            <th>State</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of product; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td>{{item.milk}}</td>
                            <td>{{item.state}}</td>
                            <td>{{item.price}}</td>

                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i
                                        class="bi bi-trash3-fill"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/product" class="btn btn-primary">Shop More</button></td>
                            <td><button (click)="this.addressform=true" class="btn btn-success">Checkout</button></td>
                            <div>
                                <td><strong>Total Amount :Rs.{{grandTotal}}</strong></td>
                            </div>
                        </tr>
                    </tbody>
                </table>

                <br>
                <br>

                <!--- form-->

                <div class="mt-3" class="poo border rounded p-3" *ngIf="addressform">
                    <form [formGroup]="aki"  (ngSubmit)="postdata()">

                        <div class="form-group">
                            <label for="exampleInputPassword1">Name</label>
                            <input type="text" class="form-control" formControlName="name" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mobile Number</label>
                            <input type="number" class="form-control" formControlName="mobile"
                                id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Address</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="address"
                                rows="3"></textarea>
                        </div>

                        <button type="submit" [disabled]="aki.invalid" class="btn btn-warning mt-2">Order</button>
                        &nbsp;

                        <button type="button"  (click)="cancel()" class="btn btn-dark mt-2">Cancel</button>
                    </form>
                </div>
            </div>
            
            <!--form ends-->




        </div>
    </div>

</ng-container>



<ng-container *ngIf="product.length==0">

    <div class="container">
        <div class="cart">
            <img src="./assets/images/emptycart.png" alt="cart">
            <h5><a routerLink="/product"><button class="btn btn-primary">Shop Now</button></a></h5>
        </div>
       
    </div>
</ng-container>